/*
 * @author Zhoodar
 * @since 05.06.2016
 */
.back-site {
    display: block;
    background:whitesmoke;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color:#787878;
}

.p {
    margin:20px 0;
}

.wrapper {
    width: 800px;
    margin:auto;
}

.header {
    margin-top:35px;
    height:40px;

}
.search-panel{
    float:right;
    height:45px;
    width:500px;
    background-color:white;
    padding:10px 0 0 128px;
    border:0.5px solid #E8E9E7;

}

.search-button {
    width:60px;
    height:30px;
    background-color:#49D39C;
    border:1px solid #49D39C;
    font-size:15px;
    color:#FFF;
}
.search-button:hover {
    border:1px solid whitesmoke;
}
.search-text {
    width:200px;
    height:30px;
    border:0.5px solid #E8E9E7;

}

.control-panel-header {
    width:157px;
    height:55px;
    background-color:#41D198;
}
.control-panel-buttons {
    margin:20px 15px 15px 15px;
}
.control-panel {
    float:left;
    height:60%;
    width:157px;
    background:white;
    border:0.5px solid #E8E9E7;
}

.control-button {
    width:120px;
    height:30px;
    background-color:#49D39C;
    border:1px solid #49D39C;
    font-size:12px;
    color:white;
}
.control-button:hover {
    border:1px solid whitesmoke;
}

.content {
    background:white;
    margin-left:170px;
    height:62%;
    padding:11px;
    border:0.5px solid #E8E9E7;
    margin-top:65px;
}