/*
 * @author Zhoodar
 * @since 05.06.2016
 */
.back-site {
    display: block;
    background:whitesmoke;
    font-family: Times, serif;
    color:#4D4D4D;
}

.p {
    margin:20px 0;
}

.wrapper {
    width: 800px;
    margin:auto;
}
.wrapper a{
    color: #cf6b73;
    text-decoration: none;
}

.wrapper a:hover{
    color:#91CFBC;
    text-decoration: underline;
}


.header {
    margin-top:35px;
    height:40px;

}

.search-panel{
    float:right;
    height:30px;
    width:608px;
    padding:10px;
    background-color:white;
    border:1px solid #E8E9E7;

}

.search-panel div{
    float:right;
}

.search-button {
    width:60px;
    height:30px;
    background-color:#49D39C;
    border:1px solid #49D39C;
    font-size:15px;
    font-family:Times serif;
    color:#FFF;
}

.search-button:hover {
    border:1px solid whitesmoke;
}
.search-text {
    width:200px;
    height:30px;
    border:1px solid #cecece;
    background-color:#FBFBFB;

}

.control-panel-header {
    width:157px;
    height:70px;
    background-color:#41D198;
}
.control-panel-buttons {
    margin:20px 0 15px 18px;
}

.control-panel {
    float:left;
    width:157px;
    background:white;
    border:1px solid #E8E9E7;
}

.control-button {
    width:120px;
    height:30px;
    background-color:#49D39C;
    border:1px solid #49D39C;
    font-size:14px;
    font-family:Times serif;
    color:white;
}
.control-button:hover {
    border:1px solid whitesmoke;
}

.content {
    background:white;
    margin-left:170px;
    padding:11px;
    border:1px solid #E8E9E7;
    margin-top:65px;
}

.table-content{
    border-collapse:collapse ;
    width:100%;

}

.table-content td{
    border-collapse:collapse ;
    border:1px solid #E8E9E7;
    height: 25px;
    padding:0 0 0 5px;

}

.content-button {
    width:100px;
    height:25px;
    background-color:#49D39C;
    border:1px solid #49D39C;
    font-size:14px;
    font-family:Times serif;
    color:white;
}

.content-button:hover {
    border:1px solid #efefef;
}

.content-text {
    float:right;
    width:195px;
    height:25px;
    border:1px solid #cecece;
    background-color:#FBFBFB;
}
.content-text:active{
    border:1px solid #49D39C;
}

.content-dropdown {
    float:right;
    width:195px;
    height:25px;
    border:1px solid #cecece;
    background-color:#FBFBFB;
}

.little-button{
    width: 10px;
    height: 17px;
    padding:0;
    border:1px solid #fff;
    background-color: #fff;
    color: #49D39C;
}

.little-button:hover{
    color: #ff0000;
}

.form-div{
    width:400px;
}
.form-div div{
    margin-top:20px;
}

.edit-content div {
    padding-top:15px;
}

#form_container{
    width: 340px;
    height: 280px;
    margin: auto;
    margin-top:10px;;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
}
#form_container form {
    margin: 0 auto;
    margin-top: 20px;
}

#form_container label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

#form_container input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
    background-color:#FBFBFB;
}

#form_container input[type=text],
#form_container input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
}

#form_container input[type=text]:focus,
#form_container input[type=password]:focus {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 1px rgba(190, 190, 190, .4), 0 0 0 2px #e6f2f9;
}

#inner_form_container{
    background: #D1FED8;
    width: 100%;
    height: 73px;
    margin-top: 20px;
    box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#inner_form_container input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}

.check {
    margin-left: 3px;
    font-size: 11px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

#inner_form_container input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color:#49D39C;
    border-radius: 3px;
    border: 1px solid #49D39C;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

#inner_form_container input[type=submit]:hover {
    background-color:#49D36C;
}
.error{
    margin: 100px 60px 0 280px;
    color: #ff0000;
    font-size: 17px;
}